<div class="panel panel-default">
  <div class="panel-body form-scheduler-hourly">
    <%= form_for([@room, @room.reservations.new]) do |f| %>
      <div class="row">
          <div class="col-md-6 no_padding">Per Night  <%= f.radio_button :pricehourly, '0', :checked => true %> </div>
          <div class="col-md-6 no_padding_mg5">Hourly  <%= f.radio_button :pricehourly, '1', :checked => false %></div>
      </div>
      <div class="row hourstime" style="display: none;">
        <!-- <div class="col-md-6 no_padding">
          <label>Number of Hours</label>
          <%= f.number_field :hours, placeholder: "Hours", class: 'form-control' %>
        </div> -->
        
      </div>
      <div class="row">
         <%# <div class="col-md-6 no_padding hourstime checkintimepad" style="display: none;">
          <label>Check In Time</label>
          <%= f.time_select :times, placeholder: "Time", class: 'form-control' %>
        <!-- </div> -->
        <div class="col-md-6 no_padding checkinpad">
          <label>Check In</label>
          <%= f.text_field :start_date, readonly: true, placeholder: "Start Date", class: "form-control datepicker" %>
        </div>
        <div class="col-md-6 no_padding_mg5 checkout checkinpad">
          <label>Check Out</label>
          <%= f.text_field :end_date, readonly: true, placeholder: "End Date", class: "form-control datepicker", disabled: true %>
        </div>
        <% @start_time = @room.start_time || 06
            @end_time = @room.end_time || 23
        %>
        <div class="col-md-3 no_padding hourstime checkintimepad" style="display: none;">
          <label>Start</label>
          <%= f.select :start_time, options_for_select(("#{@start_time}".."#{@end_time}").step(1).to_a.map{|s| ["#{s}:00", s]}), placeholder: "start time", class: 'form-control' %>
        </div>
        <div class="col-md-3 no_padding hourstime checkintimepad disabled" style="display: none;">
          <label>End</label>

          <%= f.select :end_time, placeholder: "end time", html_options: {class: 'form-control', disabled: true} %>
        </div>
       
      </div>

      <h4 class="message-alert text-center"><span id="message"></span></h4>
      <div id="preview" style="display: none">
        <table class="reservation-table">
          <tbody>
            <tr class="checkout">
              <td>Price</td>
              <td class="text-right">$<%= @room.price %></td>
            </tr>
            <tr class="checkout">
              <td>Night(s)</td>
              <td class="text-right">x <span id="reservation_nights"></span></td>
            </tr>
            <tr class="hourstime">
              <td>Price</td>
              <td class="text-right">$<%= @room.pricehourly %></td>
            </tr>
            <tr class="hourstime">
              <td>Hours(s)</td>
              <td class="text-right">x <span id="reservation_hourly"></span></td>
            </tr>
            <tr>
              <td class="total">Total</td>
              <td class="text-right checkout">$<span id="reservation_total"></span></td>
              <td class="text-right hourstime">$<span id="reservation_total_hour"></span></td>
            </tr>
          </tbody>
        </table>
      </div>

      <br/>

      <% if @room.Instant? %>
          <%= f.submit "Book Now", id: "btn_book", class: "btn btn-normal btn-block", disabled: true %>
      <% else %>
          <%= f.submit "Request Now", id: "btn_book", class: "btn btn-normal btn-block", disabled: true %>
      <% end %>
    <% end %>
  </div>
</div>


<script>

  function checkDate(date) {
    dmy = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
    return [$.inArray(dmy, unavailableDates) == -1];
  }

  $(function() {

    unavailableDates = [];

    $.ajax({
      url: '<%= preload_room_path(@room) %>',
      dateTyp: 'json',
      success: function(data) {

        $.each(data, function(arrID, arrValue) {
            for(var d = new Date(arrValue.start_date); d <= new Date(arrValue.end_date); d.setDate(d.getDate() + 1)) {
              unavailableDates.push($.datepicker.formatDate('d-m-yy', d));
            }
        });

        $('#reservation_start_date').datepicker({
          dateFormat: 'dd-mm-yy',
          minDate: 0,
          maxDate: '3m',
          beforeShowDay: checkDate,
          onSelect: function(selected) {
            $('#reservation_end_date').datepicker("option", "minDate", selected);
            $('#reservation_end_date').attr("disabled", false);

            var start_date = $('#reservation_start_date').datepicker('getDate');
            var end_date = $('#reservation_end_date').datepicker('getDate');
            var nights = (end_date - start_date)/1000/60/60/24 + 1;

            var input = {
              'start_date': start_date,
              'end_date': end_date,
              'schedule': 'per_night'
            }

            $.ajax({
              url: '<%= preview_room_path(@room) %>',
              data: input,
              success: function(data) {

                if(data.conflict) {
                  $('#message').text("These dates are not available.");
                  $('#preview').hide();
                  $('#btn_book').attr('disabled', true);
                } else {
                  $('#message').text("");
                  $('#preview').show();
                  $('#btn_book').attr('disabled', false);

                  var total = nights * <%= @room.price %>
                  $('#reservation_nights').text(nights);
                  $('#reservation_total').text(total);
                }
              }
            });

            var checkedradio=$('input[name="reservation[pricehourly]"]:checked').val();
            if(checkedradio=="1")
            {
                hourlyCommonMethod();
            }   


          }
        });

        $('#reservation_end_date').datepicker({
          dateFormat: 'dd-mm-yy',
          minDate: 0,
          maxDate: '3m',
          beforeShowDay: checkDate,
          onSelect: function(selected) {

            $('#reservation_start_date').datepicker("option", "maxDate", selected);

            var start_date = $('#reservation_start_date').datepicker('getDate');
            var end_date = $('#reservation_end_date').datepicker('getDate');
            var nights = (end_date - start_date)/1000/60/60/24 + 1;

            var input = {
              'start_date': start_date,
              'end_date': end_date,
              'schedule': 'per_night'
            }

            $.ajax({
              url: '<%= preview_room_path(@room) %>',
              data: input,
              success: function(data) {
                 $('.reservation-table').show();
                 $('.hourstime').hide();
                if(data.conflict) {
                  $('#message').text("These dates are not available.");
                  $('#preview').hide();
                  $('#btn_book').attr('disabled', true);
                } else {
                  $('#message').text("");
                  $('#preview').show();
                  $('#btn_book').attr('disabled', false);

                  var total = nights * <%= @room.price %>
                  $('#reservation_nights').text(nights);
                  $('#reservation_total').text(total);
                }
              }
            });
          }
        });
      }
    });

    $("#reservation_pricehourly_1").on("click", function(){
        $('.checkout').hide();
        $('.hourstime').show();
        $('.reservation-table').hide();
        $('#reservation_start_date').val('');
        $('#reservation_end_date').val('');
    });

    $("#reservation_pricehourly_0").on("click", function(){
        $('.checkout').show();
        $('.hourstime').hide();
        $('.reservation-table').hide();
        $('#reservation_start_date').val('');
        $('#reservation_end_date').val('');
    });


    $("#reservation_start_time").on("change", function() {
      $('#reservation_end_time').parent('.disabled').removeClass('disabled');

      var end_time_array = "1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24";

      split_array_1 = end_time_array.split(',' + $("#reservation_start_time").val() + ',')[1]
      split_array_2 = end_time_array.split(',' + $("#reservation_start_time").val())[0] + ',' + $("#reservation_start_time").val();

      var options = '<option disabled>End Time</option>';

      $.each(split_array_1.split(','), function (index, value) {
          options += '<option value="' + value + '">' + value + ':00</option>';
      })
      $.each(split_array_2.split(','), function (index, value) {
          options += '<option value="' + value + '">' + value + ':00*</option>';
      })

      $('#reservation_end_time').html(options);
      hourlyCommonMethod();
    });

    $("#reservation_end_time").on("change", function() {
      hourlyCommonMethod();
    });

    var hourlyCommonMethod = function() {
      var exactHour = parseInt($("#reservation_end_time").val()) - parseInt($("#reservation_start_time").val());

      if(exactHour <= 0) {
        exactHour = 24 + exactHour;
      }
      console.log(exactHour);

      var start_date = $('#reservation_start_date').datepicker('getDate');
      var start_time = $("#reservation_start_time").val();
      var end_time = $("#reservation_end_time").val();

      var input = {
        'start_date': start_date,
        'start_time': start_time,
        'end_time': end_time,
        'schedule': 'hourly'
      }

      $.ajax({
        url: '<%= preview_room_path(@room) %>',
        data: input,
        success: function(data) {
          $('.reservation-table').show();
          $('#reservation_end_date').val($('#reservation_start_date').val());
          if(data.conflict) {
            $('#message').text("These dates are not available.");
            $('#preview').hide();
            $('#btn_book').attr('disabled', true);
          } else {
            $('#message').text("");
            $('#preview').show();
            $('#btn_book').attr('disabled', false);
            var total = exactHour * <%= @room.pricehourly %>
            $('#reservation_nights').text('0');
            $('#reservation_total_hour').text(total);

            $('#reservation_hourly').text(exactHour);
            
          }
        }
      });
    }

  });
</script>
